/* Mobile (default) */
.container {
  margin: 0 auto;
}

.content {
  max-width: 42rem;
  margin: 0 auto;
  padding: var(--space-10) 0;
  display: grid;
  gap: var(--space-10);
}

/* Large phones / small tablets */
@media (min-width: 36rem) {
  /* 576px */
  .content {
    padding-top: var(--space-12);
  }
}

/* Tablets */
@media (min-width: 48rem) {
  /* 768px */
  .content {
    max-width: 46rem;
  }
}

/* Laptops */
@media (min-width: 64rem) {
  /* 1024px */
  .content {
    margin-left: 0;
    padding-top: var(--space-12);
    padding-bottom: var(--space-12);
    gap: var(--space-11);
    max-width: 100%;
  }

  .container {
    width: 500px;
  }
}

/* Large desktops */
@media (min-width: 80rem) {
  /* 1280px */
  .container {
    width: 600px;
  }
}

/* Wide screens */
@media (min-width: 96rem) {
  /* 1536px */
  .container {
    width: 640px;
  }
}
