/* Mobile (default) */
.main {
  padding: 2rem;
}

/* Large phones / small tablets */
@media (min-width: 36rem) {
  /* 576px */

}

/* Tablets */
@media (min-width: 48rem) {
  /* 768px */
}

/* Laptops */
@media (min-width: 64rem) {
  /* 1024px */
  .main {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

/* Large desktops */
@media (min-width: 80rem) {
  /* 1280px */
}

/* Wide screens */
@media (min-width: 96rem) {
  /* 1536px */
}