/* Mobile (default) */
.main {
  padding: 2rem;
}

/* Large phones / small tablets (576px) */
@media (min-width: 36rem) {}

/* Tablets (768px) */
@media (min-width: 48rem) {}

/* Laptops (1024px) */
@media (min-width: 64rem) {
  .main {
      display: flex;
      padding: 0;
  }
}

/* Large desktops (1280px) */
@media (min-width: 80rem) {}

/* Wide screens (1536px) */
@media (min-width: 96rem) {}